.slide-enter-active,
.slide-leave-active {
  transition: all 0.5s;
  transform: none;
}

.slide-enter,
.slide-leave-to {
  transform: translateY(100%);
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #d1d1d1;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #929292;
}

::-webkit-scrollbar-track {
  background-color: #ededed;
}